# list

In [3]:
mylist = ["sai"]
type(mylist)

list

In [4]:
names=["sai","ram"]
names[0]
names[1]

'ram'

In [5]:
names[-1]

'ram'

In [6]:
names.append("lakshmi")

In [7]:
names

['sai', 'ram', 'lakshmi']

In [8]:
new_persons = ['gopi','srinu']

In [9]:
names.append(new_persons)

In [10]:
names

['sai', 'ram', 'lakshmi', ['gopi', 'srinu']]

In [11]:
len(names)

4

In [12]:
names = ['sai','ram','lakshmi']

In [13]:
new_persons = ['gopi','srinu']

In [14]:
names.extend(new_persons)

In [15]:
names

['sai', 'ram', 'lakshmi', 'gopi', 'srinu']

In [16]:
len(names)

5

In [17]:
sairam = [40,50,60]
lakshmi = sairam

In [18]:
sairam,lakshmi

([40, 50, 60], [40, 50, 60])

In [19]:
lakshmi

[40, 50, 60]

In [20]:
sairam.append(100)

In [21]:
sairam

[40, 50, 60, 100]

In [22]:
sairam = [40,50,60]
lakshmi = sairam.copy()

In [23]:
sairam,lakshmi

([40, 50, 60], [40, 50, 60])

In [24]:
sairam.append(10)
sairam,lakshmi

([40, 50, 60, 10], [40, 50, 60])

In [25]:
names = ['sai','lakshmi']

In [26]:
names[0]="ram"

In [27]:
names

['ram', 'lakshmi']

In [28]:
dir(names)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [29]:
names = ['s','a','i']
names

['s', 'a', 'i']

In [30]:
names.clear()
names

[]

In [31]:
names.clear()

In [32]:
numbers = [10,1,20,2,2,[2,5]]

In [33]:
numbers.count(2)

3

In [34]:
numbers.index(2)

3

In [36]:
numbers.index(20)

2

In [37]:
numbers = [1,2,3,1,2,3,4,1,2,3]
numbers.index(3,4)

5

In [41]:
numbers = [10,20,30,50,60]

In [44]:
numbers.insert(300,4)

In [45]:
numbers

[10, 20, 30, 4, 50, 60, 4]

In [46]:
numbers = [10,20,30,40,50,60]

In [48]:
numbers.pop(4)

50

In [49]:
numbers

[10, 20, 30, 40, 60]

In [50]:
numbers = [1,2,3,4,5,6]

In [51]:
numbers.remove(4)

In [52]:
numbers

[1, 2, 3, 5, 6]

In [53]:
numbers = [10,20,30,40,50]

In [55]:
numbers.reverse()

In [56]:
numbers

[50, 40, 30, 20, 10]

In [63]:
numbers = [300,70,100,200]

In [64]:
numbers.sort()

In [65]:
numbers

[70, 100, 200, 300]

In [1]:
numbers = [20,30,10,5,35]
numbers.sort(reverse=True)
numbers

[35, 30, 20, 10, 5]

In [2]:
for hand in numbers:
    print(hand)

35
30
20
10
5

In [3]:
total = 0
for each in numbers:
    total = total + each
print(total)

100

In [24]:
students=[
    ["sai",30,40,50],
    ["ram",40,50,60],
    ["k",42,37,97]
]

In [26]:
name = " "
total_marks=0
for i in students:
    marks=i[1:] # [230,40,50]
    student_total=sum(marks)
    if(student_total>total_marks):
        name=i[0]
        total_marks=student_total
print(name)

k

In [28]:
mylist = [[10,20],[45,30],[30,15]]
for each in mylist:
    each.reverse()
mylist.sort()
for each in mylist:
    each.reverse()
print(mylist)

[[30, 15], [10, 20], [45, 30]]

In [29]:
myTuple = (10,30,"sai",True)
myTuple.count(10)

1

In [30]:
myTuple[-1]

True

In [31]:
myTuple.index("sai")

2

In [32]:
sum((1,2,3))

6

In [33]:
numbers = [3,4,5,6,7,8]

In [34]:
numbers[0:3]

[3, 4, 5]

In [35]:
numbers[0:5:2]

[3, 5, 7]

In [36]:
numbers[1:]

[4, 5, 6, 7, 8]

In [37]:
numbers[:]

[3, 4, 5, 6, 7, 8]

In [38]:
numbers[5:1:-1]

[8, 7, 6, 5]

In [41]:
numbers[::-1]

[8, 7, 6, 5, 4, 3]

In [42]:
name = "sairam"
name[::-1]

'marias'

In [43]:
name

'sairam'

## strings

In [44]:
name = "python programming"

In [45]:
name[-1]

'g'

In [46]:
name[5:10]

'n pro'

## string methods

i) startswith(sub_string)

In [48]:
name.startswith('python')

True

2) endswith(sub_string)

In [49]:
name.endswith('g')

True

3) upper()

In [50]:
name.upper()

'PYTHON PROGRAMMING'

In [51]:
name.lower()

'python programming'

In [52]:
'PYTHON'.lower()

'python'

In [53]:
name = 'python'
name.islower()

True

In [54]:
name = 'PYTHON'
name.isupper()

True

In [55]:
name = '1234'
name.isdigit()

True

In [56]:
'sai123'.isdigit()

False

In [57]:
'pyThOn'.swapcase()

'PYtHoN'

In [58]:
name = 'pyThon'
name.isalpha()

True

In [60]:
name = 'i am from vijayawada'
name.split('m')

['i a', ' fro', ' vijayawada']

In [61]:
words = ['i a', 'fro', 'vijayawada']
'm'.join(words)

'i amfromvijayawada'

In [62]:
name ='    sairam    '
name.strip()

'sairam'

In [63]:
name.lstrip()

'sairam    '

name.rstrip()

In [65]:
num = '123'
int(num)

123

In [68]:
words = ['sai',10,30,'lakshmi',40,'ram','done']

TypeError: '<' not supported between instances of 'int' and 'str'