### Dictionary
. collection of items alligned with key value pair

In [1]:
myDict = {}
myDict = dict()

In [2]:
myDict = {'name':'sairam','branch':'mca'}

In [3]:
len(myDict)

2

In [4]:
myDict['name']

'sairam'

In [5]:
myDict['branch']

'mca'

In [6]:
myDict['name'] = 'lakshmi'

In [7]:
myDict

{'name': 'lakshmi', 'branch': 'mca'}

In [8]:
dir(myDict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [9]:
myDict.clear()

In [11]:
myDict

{}

In [12]:
students = {'sairam','lakshmi'}

In [13]:
{}.fromkeys(students,10)

{'lakshmi': 10, 'sairam': 10}

In [23]:
students = ['sairam','lakshmi']
marks = [30,50]
myDict = {}
for each in range(len(students)):
    name = students[each]
    total = marks[each]
    myDict

In [18]:
myDict = {'name':'sairam','branch':'mca'}
print(myDict.get('mobile','not available'))

not available

In [19]:
myDict.items()

dict_items([('name', 'sairam'), ('branch', 'mca')])

In [20]:
for key in myDict:
    print(key,'--->',myDict[key])

name ---> sairam
branch ---> mca

In [21]:
result = myDict.items()
for item in result:
    print(item[1])

sairam
mca

In [28]:
name = 'sairam'
freq ={} 
for char in name:
    oldValue = freq.get(char,0)
    freq[char] = oldValue + 1
print(freq)

{'s': 1, 'a': 2, 'i': 1, 'r': 1, 'm': 1}

In [30]:
freq.pop('s','key not found')

'key not found'

In [31]:
freq

{'a': 2, 'i': 1, 'r': 1, 'm': 1}

In [32]:
freq.popitem()

('m', 1)

In [33]:
freq.setdefault('z')

In [34]:
freq.setdefault('x',10)

10

In [35]:
freq

{'a': 2, 'i': 1, 'r': 1, 'z': None, 'x': 10}

In [36]:
myDict = {'name':'sai','mobile':'9848380811'}
change = {'mobile':'1234567890','location':'vijayawada'}

In [37]:
myDict.update(change)

In [38]:
myDict

{'name': 'sai', 'mobile': '1234567890', 'location': 'vijayawada'}

In [39]:
myDict.values()

dict_values(['sai', '1234567890', 'vijayawada'])

In [40]:
myDict.keys()

dict_keys(['name', 'mobile', 'location'])

## sets

In [41]:
s = {30,40,10}
type(s)

set

In [42]:
s1 = {10,20,10,30}
s1

{10, 20, 30}

In [43]:
s2 = {10,40,60}

In [44]:
s1.union(s2)

{10, 20, 30, 40, 60}

In [45]:
s1.intersection(s2)

{10}

In [46]:
s1 = {1,2,3}
s2 = {1,2,3,4,5,6}

In [47]:
s1.issubset(s2)

True

In [49]:
s2.issuperset(s1)

True

In [50]:
s1 = {1,2,10}
s2 = {2,30,40}

In [51]:
s1.difference(s2)

{1, 10}

In [52]:
s2.difference(s1)

{30, 40}

In [53]:
s1

{1, 2, 10}

In [54]:
s1.difference_update(s2)

In [55]:
s1

{1, 10}

In [56]:
s1.add(100)

In [57]:
s1

{1, 10, 100}

In [58]:
s1.discard(10)

In [59]:
s1

{1, 100}

In [64]:
students = [('sairam',[10,20,30]),('lakshmi',[30,40,50])]
report = {}
for student in students:
    name = student[0]
    marks = sum(student[1])
    report[name] = marks
print(report)

{'sairam': 60, 'lakshmi': 120}

## reguler expressions

In [2]:
import re

## 3 methods
- search(str_pattern,str_data)
- match()
- findall()

In [3]:
name = 'python'
re.search('y',name)

In [4]:
name = 'python programming'
print(re.search('n',name))

<re.Match object; span=(5, 6), match='n'>

In [5]:
re.match('p','python')

In [6]:
re.match('t','python')

In [7]:
re.match('py','python')

In [8]:
re.findall('p','python programming')

['p', 'p']

### print the names which can contain character 'a'

In [13]:
names = ['sairam','lakshmi','cherry']
for name in names: 
    if re.search('a',name):
        print(name)

sairam
lakshmi

#### special characters in reguler expression pattern

.(dot)
.any single character

In [16]:
re.search('.','python')

In [17]:
re.search('....','python')

In [18]:
re.search('^p','python')

In [19]:
re.search('^','python')

In [25]:
fruits = ['apple','orange','mango','grapes']
for fruit in fruits:
    if re.search('^......$',fruit):
        print(fruit)

orange
grapes

##$
- ending with

In [22]:
re.search('n$','python')

In [23]:
re.search('^p....n$','python')

In [24]:
re.search('..n$','python')

#### {min,max}
- select given range

In [29]:
re.search('^.{3,5}','1234567')

In [30]:
re.search('.{3,5}$','1234567')

In [31]:
re.search('^.{5}$','1234567')

In [32]:
names = ['sairam','lakshmi','ramu','raju','hemanth']
for name in names:
    result = re.search('...$',name)
    print(result.group())

ram
hmi
amu
aju
nth

## \d
- single digit

In [34]:
re.search('\d','sai123')

In [35]:
re.search('\d{2}','sai123')

In [36]:
re.search('\d{2}2','sai1223')

## \D
- otherthan digit

In [37]:
re.search('\D','123sai123')

In [38]:
re.search('\D','123 sai123')

In [40]:
mobiles = ['1234567890','9848380822','12345678912']
for mobile in mobiles:
    if re.search('^\d{10}$',mobile):
        print(mobile)

1234567890
9848380822

## []
- one of the characterin[]

In [41]:
re.search('[98765]','abc1239812')

In [42]:
re.search('[98765]','abc123812')

In [43]:
re.search('\$','^45$')

## *
- zero or more

In [45]:
re.search('s*','sai')

In [46]:
re.search('s*','ssssai')

In [47]:
re.search('s*','abcssssai')

In [48]:
re.search('.*','abcssssai')

In [49]:
re.search('^p.*n$','pytnon')

## +
- one or more

In [50]:
re.search('a+','xyzaaaabbaaa')

In [51]:
re.search('p+','xyzaaaabbaaa')

## name@gmail.com

In [52]:
emails = ['sai@gmail.com','sai123@gmail.com']
for email in emails:
    if re.search('[a-zA-Z]+@gmail\.com',email):
        print(email)

sai@gmail.com

In [53]:
emails = ['sai@gmail.com','sai123@gmail.com']
for email in emails:
    if re.search('^[a-zA-Z0-9]+@gmail\.com',email):
        print(email)

sai@gmail.com
sai123@gmail.com

## \s
- spacing character

In [54]:
re.search('\s','sai ram')

## \s
_ otherthan spacing

## \w
- identifiers a-zA-Z0-9_

In [56]:
re.search('\w','_abc')

In [59]:
data = """
sai 100 
ram 200 
500 lakshmi 
"""

In [61]:
numbers = re.findall('\d+',data)
total = 0
for each in numbers:
    total += int(each)
print(total)

800